<%- include("../partials/header"); -%>

<div class="composeContainer">
  <div class="composeTitle">
    <h1>COMPOSE</h1>
  </div>
  <form action="/dashboard/compose/new" method="post">
    <div class="form-control">
      <label>Título:</label>
      <input required type="text" name="postTitle" />
    </div>
    <div class="form-control">
      <label>Conteúdo:</label>
      <textarea required class="editor" name="postBody"></textarea>
    </div>
    <div class="publishContainer">
      <button type="submit" name="button">Publicar</button>
    </div>
  </form>
</div>

<%- include("../partials/footer"); -%>