<%- include("../partials/header"); -%>

<div class="deleteContainer">
  <p>Tem certeza que quer deletar o post?</p>
  <form style="margin-bottom: 5px;" action="/posts/delete" method="POST">
    <textarea style="display: none" class="form-control idForm" rows="1" name="deleteId" readonly><%=id%></textarea>
    <input class="btn btn-primary" type="submit" value="Deletar" />
    <a class="btn btn-danger" href="/">Cancelar</a>
</div>

<%- include("../partials/footer"); -%>