<%- include("../partials/header"); -%>
<div class="container">
  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="form-group">
      <label>Title</label>
      <input required class="form-control" type="text" name="postTitle" />
      <label>Post</label>
      <textarea required class="form-control" name="postBody" rows="15" cols="30"></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>

<div class="container">
  <h2>Text edit reference:</h2>
  <textarea class="form-control" rows="6" readonly>
    Paragraph: <br><br>
    Bold: <b></b>
    Italic: <i></i>
    Code: <code></code>
    Color change: <spam style="color: color;"></spam>
    Image: <div class="text-center" style="width: 100%;"><img style="width: 100%" class="text-center" src="" alt=""></div>
  </textarea>
</div>
<%- include("../partials/footer"); -%>