<%- include("../partials/header"); -%>

<div class="login">
  <form action="/login" method="POST">
    <h3>Login:</h3>
    <input type="password" placeholder="Digite a senha" name="authent" />
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>

<%- include("../partials/footer"); -%>
