%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 7px;
  box-shadow: 0 8px rgb(194, 193, 193);
  background-color: #59a5d1;
  font-size: 19px;
  color: #fffefe;
  border-color: #4886aa;
  margin: auto auto 20px auto;
  transition: 0.5s;
  cursor: pointer;
}

%submit-btn:hover {
  background-color: #4886aa;
}

%submit-btn:active {
  background-color: #4886aa;
  box-shadow: 0 1px rgb(194, 193, 193);
  transform: translateY(7px);
}

body {
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("./images/connected.png");
  background-color: #fffefe;
  color: rgba(69, 67, 67, 0.9);
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 1px;
}

//navbar

.navbar {
  .container {
    @extend %flex-column;

    div {
      a {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    div {
      form {
        @extend %flex-row;
        justify-content: center;
        width: 80%;
        margin: auto;
        border-radius: 7px;
        -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);

        input[type="text"] {
          border: 1px solid rgb(194, 193, 193);
          padding-left: 10px;
          height: 50px;
          width: 80%;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }

        button[type="submit"] {
          background-color: initial;
          border: 1px solid rgb(194, 193, 193);
          cursor: pointer;
          width: 20%;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          transition: 0.5s;
          -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
          -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
          box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);

          .fa-search {
            transition: 0.5s;
          }
        }
      }
    }
  }
}

#searchSubmit:hover {
  background-color: #59a5d1;
  border-color: #4886aa;
  .fa-search {
    color: #fffefe;
  }
}

#searchSubmit:active {
  background-color: black;
  -webkit-box-shadow: 3px 0 6px -4px rgba(168, 158, 168, 1);
  -moz-box-shadow: 3px 0 6px -4px rgba(168, 158, 168, 1);
  box-shadow: 3px 0 6px -4px rgba(168, 158, 168, 1);
  transform: translateY(4px);
}

//home
.home {
  width: 100%;
  margin: 30px auto;
  padding: 10px 0;
  text-align: center;
  background-color: #454343;
  p {
    width: 90%;
    color: #fffefe;
    margin: auto;
    line-height: 25px;
  }
}

.postsContainer {
  width: 90%;
  margin: auto auto 150px auto;
  .posts {
    margin: auto;
    padding: 0 15px;
    border-top: 1px solid rgba(69, 67, 67, 0.3);
    h1 {
      text-align: center;
      margin-bottom: 0;
    }
    .postDate {
      text-align: center;
      margin-top: 0;
      font-size: 15px;
    }
    a {
      text-decoration: none;
      color: #454343;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.searchTitle {
  text-align: center;
  margin: 50px auto;
}

//post
.postPage {
  width: 90%;
  margin: auto auto 150px auto;

  .postContainer {
    h1 {
      width: 100%;
      text-align: center;
      margin: 60px auto 30px auto;
    }
    .postContent {
      margin: auto auto 40px auto;
      padding-top: 30px;
      border-top: 1px solid rgba(69, 67, 67, 0.3);
    }
    .postDate {
      text-align: right;
      font-size: 15px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(69, 67, 67, 0.3);
      margin-bottom: 40px;
      color: rgba(69, 67, 67, 0.6);
    }
  }
  .commentContainer {
    width: 100%;
    margin: auto;
    .commentList {
      width: 90%;
      margin: auto;
      .commentBox {
        border: 1px solid rgba(69, 67, 67, 0.3);
        border-radius: 7px;
        margin-bottom: 20px;
        -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        h4 {
          margin: 0 auto auto auto;
          background-color: rgba(69, 67, 67, 0.2);
          padding: 7px;
        }
        p {
          padding: 7px;
          white-space: pre-wrap;
          margin: 0 auto;
          font-size: 18px;
        }
      }
    }
    .makeComment {
      width: 93%;
      margin: 40px auto auto auto;
      border: 1px solid rgba(69, 67, 67, 0.3);
      -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
      -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
      box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
      border-radius: 7px;
      .commentTitle {
        margin: 0;
        background-color: rgba(69, 67, 67, 0.2);
        h3 {
          width: 90%;
          margin: auto;
          padding: 20px 0;
        }
      }
      form {
        width: 90%;
        margin: 20px auto;
        @extend %flex-column;
        input {
          margin-bottom: 20px;
          border: 1px solid rgb(194, 193, 193);
          height: 35px;
          border-radius: 7px;
          padding-left: 10px;
        }
        textarea {
          resize: none;
          overflow: auto;
          border-radius: 7px;
          border: 1px solid rgb(194, 193, 193);
        }
        .captcha {
          @extend %flex-column;
          align-items: center;
          input {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 72%;
          }
        }
        #error {
          color: rgb(184, 33, 33);
          margin: 0 auto 20px auto;
        }
        input[type="submit"] {
          @extend %submit-btn;
        }
      }
    }
  }
}

//dashboard
.login {
  margin: 40px auto 150px auto;
  text-align: center;
  width: 60%;
  border: 1px solid rgba(69, 67, 67, 0.3);
  border-radius: 7px;
  padding: 10px;
  form {
    @extend %flex-column;

    input {
      height: 50px;
    }

    button {
      cursor: pointer;
      width: 100px;
      height: 50px;
      margin: 15px auto auto auto;
    }
  }
}

.composeContainer {
  width: 90%;
  border-top: 1px solid rgba(69, 67, 67, 0.2);
  border-top: 1px solid rgba(69, 67, 67, 0.2);
  margin: 50px auto 150px auto;
  .composeTitle {
    height: 60px;
    width: 100%;
    background-color: #454343;
    text-align: center;
    display: table;
    h1 {
      color: #fffefe;
      display: table-cell;
      vertical-align: middle;
    }
  }
  form {
    margin-top: 40px;
    .form-control {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      label {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .publishContainer {
      width: 100%;
      text-align: center;
      button {
        margin: auto;
        margin-top: 30px;
        @extend %submit-btn;
      }
    }
  }
}

//footer
.footer {
  @extend %flex-column;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #454343;
  height: 100px;
  color: #fffefe;
  text-align: center;

  div {
    margin: auto;
  }

  #copyright {
    p {
      margin: 10px 0;
      font-size: 15px;
    }
  }

  a {
    color: #fffefe !important;
    text-decoration: underline;
  }
}

.mailContainer {
  margin: 50px auto 150px auto;
  width: 90%;
  border: 1px solid rgba(69, 67, 67, 0.3);
  -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
  -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
  box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
  border-radius: 7px;

  @extend %flex-column;

  .mailTitle {
    background-color: rgba(69, 67, 67, 0.2);
    margin: 0;
    h2 {
      width: 90%;
      margin: 20px auto;
    }
  }

  .form-control {
    @extend %flex-column;
    margin: 20px auto;
    width: 90%;
    label {
      margin-top: 20px;
    }
    input {
      margin-bottom: 0px;
      margin-top: 5px;
      border: 1px solid rgb(194, 193, 193);
      height: 35px;
      border-radius: 7px;
      padding-left: 10px;
    }
    textarea {
      padding: 5px;
      resize: none;
      overflow: auto;
      border-radius: 7px;
      border: 1px solid rgb(194, 193, 193);
    }
    small {
      font-size: 13px;
    }
  }

  .contactSubmit {
    width: 100%;
    text-align: center;
    button {
      margin: 30px auto 30px auto;
      @extend %submit-btn;
    }
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    .container {
      div {
        form {
          width: 40%;
        }
      }
    }
  }
  .postsContainer {
    width: 60%;
  }
  .postPage {
    width: 70%;
    .commentContainer {
      width: 80%;
    }
  }
  #captchaInput {
    width: 32%;
  }
  .mailContainer {
    width: 60%;
  }
}
