%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-image: url("./images/connected.png");
  background-color: #fffefe;
  color: #454343;
  margin: 0;
}

//navbar

.navbar {
  .container {
    @extend %flex-column;

    div {
      a {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    div {
      form {
        @extend %flex-row;
        justify-content: center;
        width: 80%;
        margin: auto;
        border-radius: 7px;
        -webkit-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        -moz-box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);
        box-shadow: 3px 4px 6px -4px rgba(168, 158, 168, 1);

        input[type="text"] {
          border: 1px solid rgb(194, 193, 193);
          padding-left: 10px;
          height: 50px;
          width: 80%;
          border-top-left-radius: 7px;
          border-bottom-left-radius: 7px;
        }

        button[type="submit"] {
          background-color: initial;
          border: 1px solid rgb(194, 193, 193);
          cursor: pointer;
          width: 20%;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
        }

        button[type="submit"]:hover {
          background-color: #5574c9;
        }
      }
    }
  }
}

#searchSubmit:hover {
  background-color: #5574c9;
}

//home
.home {
  width: 100%;
  margin: 30px auto;
  padding: 10px 0;
  text-align: center;
  background-color: #454343;
  p {
    width: 90%;
    color: #fffefe;
    margin: auto;
    line-height: 25px;
  }
}

.postsContainer {
  width: 90%;
  margin: auto auto 100px auto;
  .posts {
    margin: auto;
    padding: 0 15px;
    border-top: 1px solid rgba(69, 67, 67, 0.3);
    h1{
      text-align: center;
      margin-bottom: 0;
    }
    .postDate{
      text-align: center;
      margin-top: 0;
      font-size: 12px;
    }
    a {
      text-decoration: none;
      color: #454343;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.searchTitle{
  text-align: center;
  margin: 50px auto;
}

//dashboard
.login{
  margin: 10px auto auto auto;
  text-align: center;
  width: 60%;

  form {
    @extend %flex-column;

    input{
      height: 50px;
    }

    button {
      cursor: pointer;
      width: 100px;
      height: 50px;
      margin: 5px auto auto auto;
    }
  }
}

//footer
.footer {
  @extend %flex-column;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #454343;
  height: 100px;
  color: #fffefe;
  text-align: center;

  div {
    margin: auto;
  }

  #copyright {
    p {
      margin: 10px 0;
      font-size: 12px;
    }
  }

  a {
    color: #fffefe !important;
    text-decoration: underline;
  }
}
