<%- include("../partials/header"); -%>

<div class="mailContainer">
  <div class="mailTitle">
    <h2>Me envie um e-mail!</h2>
  </div>
  <form action="/contact/sendMail" method="POST">
    <div class="form-control">
      <label for="senderEmail">Seu e-mail:</label>
      <input type="email" id="senderEmail" aria-describedby="emailHelp" placeholder="exemplo@exemplo.com" name="email" />
      <small id="emailHelp" class="form-text text-muted">Seu e-mail não será compartilhado com nimguém.</small>
    </div>
    <div class="form-control">
      <label for="subject">Assunto:</label>
      <input type="text" id="subject" placeholder="Assunto" name="subject" />
    </div>
    <div class="form-control">
      <label for="text">Corpo:</label>
      <textarea placeholder="Escreva o e-mail..." name="text" id="mailText" cols="20" rows="10"></textarea>
    </div>
    <div class="contactSubmit">
      <button type="submit" class="btn btn-primary">Submit</button></div>
  </form>
</div>

<%- include("../partials/footer"); -%>